body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 38%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
}
.top-banner{
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}
.download-button{
    text-decoration: none;
    background-image: linear-gradient(50deg, rgb(221, 221, 28),  orange);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-weight: 650;
}
.dream-area{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
    
}
.great{
    font-size: 50px;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%; 
}
.experience-area{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position:left ;
    
}